page-home {
    ion-title {
        background-color: #e25159;
    }
    .scroll-content {
        background-color: #fafaf5;
    }
    .div {
        padding: 10px;
    }
    .toolbar-background-md {
        //안드로이드는 ion-title{} 태그에서 배경색 설정하는게 적용이 잘 안되어서 따로 디테일하게 만짐.
        background-color: #e25159;
      }
    .toolbar-title-ios {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
    }
    .toolbar-title-md{
        color: #ffffff;
        width: 270px;
        margin: 0px;
        padding-left: 100px;    
        //text-align center가 왼쪽이나 오른쪽에 버튼이 있으면 화면 전체가 아닌 버튼을 제외한 남은 부분에서 중간을 설정해버려서 따로 패딩 값 설정함.
        text-align: center;
        font-weight: bold;
    }
    .bar-button{
        color: #ffffff;
    }
    .item-md {
        height: 83px;
        //안드로이드는 html에서 div padding 없애면 젤 예쁜데 그러면 아이폰이 완전히 상단에 segment가 딱 붙어버려서 안 예쁨
    }

}
